body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.axis {
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 #eee;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font: 12px sans-serif;
  padding: 8px;
  text-align: center;
}

.bar {
  fill: #2196F3;
}

.line {
  fill: none;
  stroke: #2196F3;
  stroke-width: 2px;
}

.links line {
  stroke: #999;
  stroke-width: 1.5px;
  stroke-opacity: 0.6;
}

.focus circle {
  fill: #F1F3F3;
  stroke: rgb(6, 82, 141);
  stroke-width: 5px;
}

.hover-line {
  stroke: rgb(6, 82, 141);
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.label {
  text-anchor: middle;
  fill: #424242;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 200px;
  max-width: 350px;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}


/* Northward tooltips */

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}


/* Eastward tooltips */

.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}


/* Southward tooltips */

.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}


/* Westward tooltips */

.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


/* Slider */

#slider {
  margin: 10px 15px;
}

.slider-label {
  margin-top: 8px;
  font-size: 14px;
}
