<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="./image/favicon.ico">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">

  <link rel="stylesheet" href="css/custom.css">

  <link rel="stylesheet" href="css/fakeLoader.css">

  <script src="./js/d3.v4.min.js"></script>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/utils.js"></script>
  <script src="./js/angular.min.js"></script>
  <script src="./js/fakeLoader.min.js"></script>
  <script src="./js/d3-tip.js"></script>

  <script src="./js/topnxofy.js"></script>

</head>

<body ng-app="topnxofy">
  <div id="fakeLoader"></div>
  <div ng-include="'nav.html'"></div>

  <div class="container">
    <div ng-show="show" class="row" ng-controller="QueryParamsController">
      <div class="row">
        <div class="col">
          Limit
          <input class="form-control" ng-model="query.topN" min="2" value="3" max="10" type="number" ng-bind="topN">
        </div>
        <div class="col">
          Range:
          <select class="form-control" ng-model="query.xCategoryValue">
            <option ng-repeat="xCategory in xCategories">{{xCategory.display}}</option>
          </select>
        </div>
        <div class="col">
          Domain:
          <select class="form-control" ng-model="query.yCategoryValue">
            <option ng-repeat="yCategory in yCategories">{{yCategory.display}}</option>
          </select>
          <input ng-model="query.yValue">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <button  class="btn btn-info" ng-click="submitQuery()">Go</button>      
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
</body>

</html>
